* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* header styles start  */
.header {
    background-image: url('../assets/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 216px;
    padding-bottom: 166px;
}

.header-content {
    text-align: right;
    display: flex;
}

.half {
    width: 50%;
}

.title {
    font-weight: 700;
    margin-bottom: 24px;
    color: #151414;
}

.header-content .title {
    font-size: 65px;
}

.discription {
    font-size: 16px;
    color: #444343;
}

.header-content .discription {

    margin-bottom: 32px;
}

.header-content .button {
    background-color: #F15B22;
    font-size: 20px;
    font-weight: 600px;
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

/* header styles end  */
/* my-failure styles start  */
.my-failures {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 131px;
}

.authore-image {
    width: 400px;
    text-align: center;
}

.my-failure-content {
    width: 416;
}

.my-failures .title {
    font-size: 40px;
}

.my-failures .half p {
    margin-bottom: 16px;
}

.my-failures ul {
    list-style-image: url('../assets/images/icons/5290058.png');
    margin-left: 25px;
}

.my-failures ul li {
    font-size: 16px;
    color: #444343;
}

/* my-failure styles start  */