* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* nav styles start */
nav {
    padding: 25px;
    border-radius: 18px;
    padding-bottom: 216px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul a {
    text-decoration: none;
    margin-right: 25px;
    color: black;
    padding: 10px 23px;
    border: 1px solid white;
    border-radius: 5px;
}

nav a:hover {
    background-color: #ffffff;
    color: #F15B22;
}

/* nav styles end */

/* header styles start  */
.header {
    background-image: url('../assets/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 166px;
}

.header-content {
    text-align: right;
    display: flex;
}

.half {
    width: 50%;
}

.title {
    font-weight: 700;
    margin-bottom: 24px;
    color: #151414;
}

.header-content .title {
    font-size: 65px;
}

.description {
    font-size: 16px;
    color: #656464;
    opacity: 0.7;
}

.header-content .description {

    margin-bottom: 32px;
}

.button {
    font-size: 20px;
    font-weight: 600px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.header-content .button {
    background-color: #F15B22;
    padding: 20px 25px;
    color: white;
}

/* header styles end  */
/* my-failure styles start  */
.my-failures {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 131px;
}

.author-image {
    width: 400px;
    text-align: center;
}


.my-failures .title {
    font-size: 40px;
}

.my-failures .half p {
    margin-bottom: 16px;
}

.my-failures ul {
    list-style-image: url('../assets/images/icons/5290058.png');
    margin-left: 25px;
}

.my-failures ul li {
    font-size: 16px;
    color: #444343;
    opacity: 0.7;
}

/* my-failure styles end  */
/* my-plans styles start  */
.my-plans {
    text-align: center;
    margin-bottom: 130px;
}

.my-plans .title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 55px;
}

.plans {
    display: flex;
    justify-content: space-between;
}

.plan h3 {
    font-size: 25px;
    margin-bottom: 16px;
}

.plan .description {
    font-size: 22px;
}

.plan img {
    width: 98px;
    height: 98px;
    margin-bottom: 18px;
}

/* my-plans styles end  */
/* ads styles start  */
.ads .banner {
    background-image: url('../assets/images/watch.png'), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    ;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 60px 0px 60px 64px;
    border-radius: 8px;
    margin-bottom: 130px;
}

.banner .title {
    font-size: 40px;
    color: white;
}

.banner .button,
.subscribe-button {
    padding: 20px;
    background-color: white;
    color: #F15B22;
}

/* ads section styles end  */
/* future section styles start  */
footer {
    background-color: #151414;
    ;
}

.footer-content {
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 130px 0;
}

.footer-content .title {
    font-size: 45px;
    color: white;
}

.footer-content p {
    margin-bottom: 16px;
    opacity: 0.7;
}

p.future-description {
    margin-bottom: 24px;
}

.future {
    width: 485px;
}

.future a {
    text-decoration: none;
    margin-right: 18px;
}

.subscribe .title {
    font-size: 25px;
}

.subscribe input {
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 20px;
}

.subscribe input:first-child {
    width: 100%;
}

.subscribe-button {
    cursor: pointer;
}

/* future section styles end  */